In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("precios_terminal.csv")
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice
0,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923
1,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373
2,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669
3,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379
4,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415

In [24]:
df.unit.unique()

array(['100 Pounds', '36 Pounds', '27 KG', '13.92 KG', '110 KG',
       '23.9 KG', '20.5 KG', '17.5 KG', '29 KG', '46 KG', '75 KG',
       '105 KG', '40 Pounds', '177.35 KG', '6.85 KG', '7 KG', '45 KG',
       '18.9 KG', '50 Pounds'], dtype=object)

In [25]:
df["weight"] = df.unit.map(lambda x: float(x.split()[0]) if "KG" in x else float(x.split()[0])/2.2)
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice,weight
0,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923,45.454545
1,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373,45.454545
2,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669,45.454545
3,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379,45.454545
4,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415,45.454545

In [33]:
df["year"] = df.date.map(lambda x: int(x.split("-")[0]))
df["month"] = df.date.map(lambda x: int(x.split("-")[1]))
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice,weight,year,month,exchange_rate,gtqprice_per_kg,usdprice_per_kg
0,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923,45.454545,1998,1,6.219990,1.49050,0.239631
1,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373,45.454545,1998,1,6.220000,1.70192,0.273621
2,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669,45.454545,1998,1,6.219994,2.84174,0.456872
3,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379,45.454545,1998,1,6.220009,3.93250,0.632234
4,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415,45.454545,1998,1,6.219985,1.18250,0.190113

In [34]:
df["exchange_rate"] = df.gtqprice / df.usdprice
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice,weight,year,month,exchange_rate,gtqprice_per_kg,usdprice_per_kg
0,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923,45.454545,1998,1,6.219990,1.49050,0.239631
1,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373,45.454545,1998,1,6.220000,1.70192,0.273621
2,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669,45.454545,1998,1,6.219994,2.84174,0.456872
3,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379,45.454545,1998,1,6.220009,3.93250,0.632234
4,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415,45.454545,1998,1,6.219985,1.18250,0.190113

In [35]:
df["gtqprice_per_kg"] = df.gtqprice / df.weight
df["usdprice_per_kg"] = df.usdprice / df.weight
df.head()

,date,category,commodity,unit,pricetype,gtqprice,usdprice,weight,year,month,exchange_rate,gtqprice_per_kg,usdprice_per_kg
0,1998-01-15,cereals and tubers,Maize (white),100 Pounds,Wholesale,67.75,10.8923,45.454545,1998,1,6.219990,1.49050,0.239631
1,1998-01-15,cereals and tubers,Maize (yellow),100 Pounds,Wholesale,77.36,12.4373,45.454545,1998,1,6.220000,1.70192,0.273621
2,1998-01-15,cereals and tubers,Potatoes,100 Pounds,Wholesale,129.17,20.7669,45.454545,1998,1,6.219994,2.84174,0.456872
3,1998-01-15,cereals and tubers,Rice (medium quality),100 Pounds,Wholesale,178.75,28.7379,45.454545,1998,1,6.220009,3.93250,0.632234
4,1998-01-15,cereals and tubers,Sorghum,100 Pounds,Wholesale,53.75,8.6415,45.454545,1998,1,6.219985,1.18250,0.190113